/*Géneral rules*/
body {
  background-color: black;
  font-family: "kanit", sans-serif;
}
body p {
  font-family: "kanit";
  color: white;
}
footer {
  display: flex;
  justify-content: center;
  line-height: 200px;
}
.footer {
  text-align: center;
  font-weight: bold;
  color: white;
  text-decoration: none;
}
.footer:hover {
  cursor: pointer;
  opacity: 0.7;
}
/*---------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/
/*---------Header ------------------*/
/*---------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/

header {
  line-height: 100px;
  background-color: rgb(33, 28, 28);
  border-bottom: solid 2px rgb(48, 187, 173);
  position: sticky;
  top: 0;
  z-index: 1;
}
.buttonLogo {
  display: flex;
  background-color: rgb(33, 28, 28);
  border: none;
  align-items: center;
}
.logo {
  height: 60px;
  margin: 20px;
  border-radius: 50%;
  object-fit: contain;
}
.logo:hover {
  opacity: 0.8;
  cursor: pointer;
}
.logoTitle {
  color: whitesmoke;
  font-size: 25px;
}
.logoTitle:hover {
  opacity: 0.8;
  cursor: pointer;
}
.headerLinks {
  text-decoration: none;
  color: whitesmoke;
  padding: 10px;
  border: 2px white solid;
  border-radius: 3px;
  margin-inline: 30px;
  padding-inline: 30px;
}

.headerLinks:hover {
  background-color: white;
  color: black;
}
.logoutButton {
  font-size: 16px;
  font-family: "kanit";
  text-decoration: none;
  color: whitesmoke;
  padding: 10px;
  border: 2px white solid;
  border-radius: 3px;
  margin-inline: 30px;
  padding-inline: 30px;
  background-color: rgb(33, 28, 28);
}
.logoutButton:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.divElementsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*---------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/
/*--------- Home page ------------------*/
/*---------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/

.mainSection {
  margin-inline: 12%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;

  align-items: center;
}
.pageLogo {
  height: 60px;
  margin: 20px;
  border-radius: 50%;
  object-fit: contain;
}
.pageTitle {
  color: whitesmoke;
  font-size: 25px;
}
.logoAndTitleInHomePage {
  display: flex;
  align-items: center;
  justify-content: center;
}
.topPartOfHomePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}
.searchBar {
  height: 50px;
  width: 90%;
  background-color: black;
  color: white;
  border: none;
  border-bottom: solid 2px rgb(48, 187, 173);
  margin-bottom: 10px;
}
.titleGamesHomePage {
  margin-top: 40px;
  color: white;
  font-size: 25px;
}
.imageGame {
  height: 200px;
  width: 250px;
  object-fit: cover;
  border-radius: 5px;
}
.imageGame:hover {
  opacity: 0.8;
}
.imagesGames {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
.titleGame {
  font-size: 16px;
  width: 250px;
  color: whitesmoke;
  text-align: center;
}
.titleGame:hover {
  cursor: pointer;
}
.linkGame {
  text-decoration: none;
}
.inputFilter {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.inputsFilters {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.divSort {
  display: flex;
  gap: 10px;
  margin-left: 10%;
  align-items: center;
}
.pagination {
  display: flex;

  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 20px;
}
.paginationButtons {
  background-color: rgb(33, 28, 28);
  color: rgb(48, 187, 173);
  border: 1px solid rgb(48, 187, 173);
  padding: 5px;
  font-family: "kanit";
  border-radius: 5px;
}
.paginationButtons:hover {
  opacity: 0.8;
  cursor: pointer;
}

/*---------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/
/*--------- Game page ------------------*/
/*---------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/

.imageGamePage {
  height: 100%;
  width: 500px;
  object-fit: cover;
  border-radius: 7px;
}
.sectionGameInfos {
  margin: 0 auto;
  margin: 15%;
  height: 50%;
}
.gameInfosAndImg {
  display: flex;
  gap: 20px;
}
.titleAndImgGame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.titleGameInGamePage {
  font-weight: 700;
  font-size: 25px;
}
.divInfos {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30%;
}
.titleOfInfoGame {
  margin-bottom: 10px;
  color: gray;
}
.divDesc {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.descGame {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.titleGameLike {
  font-weight: 600;
  font-size: 26px;
  text-align: center;
  margin-bottom: 20px;
}
.imgSameSeriesGames {
  height: 300px;
  width: 400px;
  object-fit: cover;
}
.nameSameSeriesGame {
  max-width: 400px;
  text-align: center;
}
.divSameGame {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  border-radius: 10px;
  margin: 0 auto;
  overflow: scroll;
  margin: 15%;
  scrollbar-width: none;
}
.sameGameLink {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.sameGameLink:hover {
  opacity: 0.8;
  cursor: pointer;
}

.divButtonFav {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  width: 70%;
}
.buttonFav {
  background-color: rgb(33, 28, 28);
  color: white;
  font-family: "kanit";
  border: none;
  padding: 10px;
  border-radius: 4px;
}
.buttonFav:hover {
  opacity: 0.7;
  cursor: pointer;
}
.divButtonsFavAndReview {
  display: flex;
  gap: 20px;
}

.sectionReviews {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titleSectionReviews {
  text-align: center;
  font-weight: 600;
  font-size: 25px;
}

.divAllReviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
  margin: 0 auto;
  overflow: scroll;
  margin: 5%;
  scrollbar-width: none;
  height: 600px;
  width: 50%;
}
.divReview {
  background-color: rgb(33, 28, 28);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  width: 100%;
}
.titleReview {
  padding: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: 600;
}
.ownerReview {
  padding: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
}
.descReview {
  padding: 20px;
  margin: 20px;
  font-size: 16px;
  border-radius: 5px;
  width: 60%;
}
.titleAndOwnerReview {
  display: flex;
  justify-content: space-between;
  background-color: rgba(128, 128, 128, 0.121);
  margin: 20px;
  border: none;
  border-radius: 5px;
}
.iconUser {
  color: rgb(192, 164, 9);
  font-size: 26px;
  padding: 5px;
  border-radius: 50%;
}
.divDescDate {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.dateReview {
  padding: 20px;
  margin: 20px;
}
/*---------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/
/*--------- Fav page ------------------*/
/*---------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/

.imgFavoris {
  height: 200px;
  width: 250px;
  object-fit: cover;
  border-radius: 6px;
}
.divImgTitleFav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  gap: 5px;
}
.allFavs {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin: 5%;
}
.deleteButton {
  background-color: rgb(33, 28, 28);
  color: rgb(178, 18, 18);
  font-family: "kanit";
  border: none;
  padding: 10px;
  border-radius: 4px;
}
.deleteButton:hover {
  opacity: 0.7;
  cursor: pointer;
  background-color: rgb(178, 18, 18);
  color: black;
}
.linkGameFav {
  text-decoration: none;
}
.linkGameFav:hover {
  opacity: 0.7;
  cursor: pointer;
}

/*---------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/
/*--------- Login/signup page ------------------*/
/*---------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/
.linkSignUp {
  text-decoration: none;
  color: whitesmoke;
}
.linkSignUp:hover {
  opacity: 0.7;
  cursor: pointer;
}
.loginTitle {
  display: flex;
  align-items: center;
  gap: 20px;
  color: white;
  font-size: 26px;
  font-weight: 500;
}
.iconLogin {
  color: rgb(48, 187, 173);
}
.inputSignupLogin {
  background-color: rgb(33, 28, 28);
  padding: 10px;
  border: solid 2px rgb(48, 187, 173);
  border-radius: 5px;
  font-family: "kanit";
  color: rgb(48, 187, 173);
}
.submitButton {
  font-family: "kanit";
  background-color: black;
  padding: 5px;
  border-radius: 3px;
  padding-inline: 10px;
  border: solid 1px rgb(48, 187, 173);
  color: rgb(48, 187, 173);
}
.submitButton:hover {
  background-color: rgb(48, 187, 173);
  color: black;
  cursor: pointer;
}

/*---------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/
/*--------- addReview page ------------------*/
/*---------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/

.formAddReview {
  margin: 0 auto;
  margin: 15%;
  background-color: rgb(33, 28, 28);
  height: 700px;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.titleReviewInput {
  width: 40%;
  height: 5%;
  margin-inline: 10%;
  color: white;
  background-color: black;
  border: none;
  border-radius: 6px;
  padding: 5px;
}
.descReviewInput {
  height: 40%;
  margin-inline: 10%;
  color: white;
  background-color: black;
  border: none;
  border-radius: 6px;
  padding: 5px;
}
.submitReview {
  width: 30%;
  height: 5%;
  margin-inline: 10%;
  color: white;
  background-color: black;
  border: none;
  border-radius: 6px;
  padding: 5px;
}
.submitReview:hover {
  opacity: 0.4;
  cursor: pointer;
}

/*-------- Media Queries (responsive) --------*/

/*----*/
@media (min-width: 768px) {
  /*---- Header Responsive -----*/
  .logoutLogo,
  .headerLinkLogos {
    display: none;
  }
  .inputsFilters {
    margin-top: 20px;
  }
}
@media (min-width: 1024px) {
  /*---- Home page responsive*/
}

/* --- Tablet Breakpoint --- */
@media (min-width: 768px) and (max-width: 1024px) {
  /*---- Header Responsive -----*/
  .divElementsHeader {
    align-items: center;
  }

  .headerLinks,
  .logoutButton {
    margin-inline: 10px;
    padding-inline: 20px;
    font-size: 14px;
  }

  .logo {
    height: 50px;
  }

  .logoTitle {
    font-size: 22px;
  }
}
/*----- Home Page Responsive -----*/

/* --- Mobile Breakpoint --- */
@media (max-width: 767px) {
  /*---- Header Responsive -----*/
  .divElementsHeader {
    align-items: center;
    gap: 10px;
  }
  .headerLinkLogos {
    text-decoration: none;
    color: whitesmoke;
    padding: 6px;
    border: 2px white solid;
    border-radius: 3px;
    margin-inline: 10px;
    padding-inline: 20px;
  }

  .headerLinkLogos:hover {
    color: black;
    background-color: white;
  }
  .headerLinks,
  .logoutButton {
    display: none;
  }
  .logoutLogo {
    color: whitesmoke;
    padding: 10px;
    border: 2px white solid;
    border-radius: 3px;
    margin-inline: 10px;
    padding-inline: 20px;
    background-color: rgb(33, 28, 28);
  }

  .logoutLogo:hover {
    color: black;
    background-color: white;
  }
  .logo {
    height: 40px;
  }

  .logoTitle {
    font-size: 18px;
  }
  /*----- Home Page Responsive -----*/
  .inputsFilters {
    flex-direction: column;
    gap: 30px;
    margin-top: 10px;
  }
  .pagination {
    max-width: 360px;
    overflow: scroll;
  }
}
